{% extends "blog/base.html" %}

{% load i18n %}

{% block content %}
   
<div class="contact">
    <form method="post" action="{{ post.get_absolute_url }}">
    {% csrf_token %}
    <div class="form">
    
        {{ form.as_p }}

        {% if form.subject.errors %}
    	<ol>
	    {% for err in form.subject.errors %}
	         <span class="errorlist">{{ err }}</span>
	    {% endfor %}
	    </ol>
		{% endif %}

    </div>
    <input class="button" type="submit" value="{% trans "Submit" %}">
    <div class="required_field">{% trans "*Required fields are bold" %}</div>
    </form>
</div>

{% endblock %}
