{% extends "blog/base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block script %}
    <script type="text/javascript" src="{% static "/blog/js/comments_reply.js" %}"></script>
    <script type="text/javascript" src="{% static "/blog/js/comments_update.js" %}"></script>
{% endblock %}


{% block content %}

    <div class="thread">
        <div class="date">
            <p>{{ post.published_at|date:"d F Y" }}</p>
            
            <p>{% trans "category: " %}<a href="{{ post.category.get_absolute_url }}">{{ post.category }}</a></p>
        </div>
        <div class="post">
            <h2>{{ post.title }}</h2>
            <p>{{ post.tease }}</p>
            <p>{{ post.body }}</p>
            <i class="fa fa-tags"></i>

            {% for tag in post.tag.all %}
            <a href="{{ tag.get_absolute_url }}" class="tags">{{ tag }}</a>
            {% if not forloop.last %}, {% endif %}
            {% endfor %}

        </div>
    </div>

{% endblock %}

{% block comment %}
                  
<h2>{% trans "Comments" %}</h2>

<div class="comment_list">

{% if comment_tree %}
    {% include "blog/comment_tree.html" %}
{% endif %}

</div>

{% if post.is_comment_allowed %}

<div class="contact">
    <div class="form-wrapper">
        <form method="post"  class="contact-form contact" action="{{ post.get_absolute_url }}comment/">
        {% csrf_token %}
        <div class="form">
        
            {{ comment_form.as_p }}

            {% if comment_form.subject.errors %}
            <ol>
            {% for err in comment_form.subject.errors %}
                 <span class="errorlist">{{ err }}</span>
            {% endfor %}
            </ol>
            {% endif %}

        </div>
        <input type="hidden" id="max" name="maxid">
        <input class="button" type="submit" value="{% trans "Submit" %}" />
       {#  <button class="js-captcha-refresh" name="postid">{% trans "Refresh" %}</button> #}
        <div class="required_field">{% trans "*Required fields are bold" %}</div>
        </form>
    </div>
    <br>
</div>

{% endif %}

{% endblock %}